<launch>

	<!-- launch set_mode node -->
	<arg name="states_machine_topic" default="/icarus_driver/states_machine" />
	<arg name="flight_mode_topic" default="/icarus_driver/flight_mode" />
	<arg name="is_finished_topic" default="/icarus_driver/set_mode/is_finished" />
	<arg name="drone_state_topic" default="/mavros/state" />
	<arg name="arduino_port" default="/dev/ttyACM0" />
	<arg name="baudrate" default="9600" />

	<node pkg="icarus_driver" type="set_mode" name="set_mode_node" output="screen">

		<param name="states_machine_topic" value="$(arg states_machine_topic)" />
		<param name="flight_mode_topic" value="$(arg flight_mode_topic)" />
		<param name="is_finished_topic" value="$(arg is_finished_topic)" />
		<param name="drone_state_topic" value="$(arg drone_state_topic)" />

	</node>

	<!-- launch ack_notifier node -->
	<node pkg="icarus_driver" type="ack_notifier.py" name="ack_notifier_node" output="screen">
		<param name="arduino_port" value="$(arg arduino_port)" />
		<param name="baudrate" value="$(arg baudrate)" />
	</node>

	<!-- launch states_listener -->
	<node pkg="icarus_driver" type="states_listener" name="states_listener_node" />

</launch>
