<launch>

	<!-- launch boca_negra.launch -->

	<include file="$(find boca_negra)/launch/boca_negra.launch" />

	<!-- launch set_mode node -->

	<arg name="arduino_port" default="/dev/ttyACM0" />
	<arg name="baudrate" default="9600" />

	<!-- launch main Icarus Driver nodes -->

	<node pkg="icarus_driver" type="set_mode_node" name="set_mode_node" output="screen" />

	<!-- launch ack_notifier node -->

	<node pkg="icarus_driver" type="ack_notifier.py" name="ack_notifier_node" output="screen">
		<param name="arduino_port" value="$(arg arduino_port)" />
		<param name="baudrate" value="$(arg baudrate)" />
	</node>

</launch>
